li {
    border: black 1px solid;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.178);
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }

  img {
      max-width: 200px;
  }

  h2 {
    text-transform: uppercase;
  }

  p {
    line-height: .5em;
  }

  